- content_for :title, @story.title
- content_for :head do
  = stylesheet_link_tag "home"
  = javascript_include_tag "hnsearch"

#search-panel
  .search_box-wrapper
    .pull-right#points
      %small= pluralize @story.points, 'point'
    .search_box
      %h3.text-center.n= @story.title

  #stats
  #hits.follow
  .text-center{style: 'margin: 50px 0px;'}
    = link_to_function "Click to follow this discussion", 'follow(this)', class: 'btn btn-large btn-default'
    %br
    %small Page will be refreshed every 60 seconds.
    %br
    %small Each new comment raises a desktop notification.

:javascript
  function follow(elt) {
    var Notification = window.Notification || window.mozNotification || window.webkitNotification;
    Notification.requestPermission(function(permission) {
      $(elt).parent().remove();
      var hnsearch = new HNSearch('#{ENV['ALGOLIASEARCH_APPLICATION_ID']}', '#{ENV['ALGOLIASEARCH_API_KEY_RO']}', '#{Item.index_name}', '#{User.index_name}');
      hnsearch.follow(#{@story.id});
    });
  }
= render partial: 'hit_template'
