- content_for :head do
  = stylesheet_link_tag "home"
  = javascript_include_tag "hnsearch"

#search-panel
  #style-toggler.hidden-xs
    = link_to_function 'Change style <span></span>'.html_safe, 'hnsearch.toggleStyle();'

  %h1.text-center
    Search Hacker News

  %form#search-form{method: "get", action: '#', onsubmit: 'return false;'}
    .pull-right.hidden-xs#advanced-search
      Use <code>author:USERNAME</code> to restrict to a user, <code>story:ID</code> to restrict to a story.
    %ul.list-unstyled.list-inline#item_type.hidden-xs
      - %w{all story comment poll}.each do |type|
        %li
          %input{type: 'radio', name: 'item_type', value: type, id: "item_type_#{type}", checked: (type == 'story')}
          %label{for: "item_type_#{type}"}= type.capitalize.gsub('_', ' ')
    .search_box-wrapper
      .search_box
        #inputfield
          %input{autocomplete: 'off', autocorrect: 'off', name: 'address', placeholder: 'HN Stories, Comments, Source, Author ...', type: 'text', spellcheck: 'false', value: params[:q]}
        .searchbutton
          %i.icon-search.icon-large
    .text-right.hidden-xs
      %ul.list-unstyled.list-inline#created_at
        - %w{last_24h past_week past_month forever sort_by_date}.each do |period|
          %li
            %input{type: 'radio', name: 'created_at', value: period, id: "created_at_#{period}", checked: (period == 'forever')}
            %label{for: "created_at_#{period}"}= period.capitalize.gsub('_', ' ')

  #stats
  #hits
  #noresults.text-center
  #pagination.text-center
  #history.text-center
    - cache 'items_indexed', expires_in: 2.minute do
      %small <strong>#{number_with_delimiter(Item.where(item_type_cd: Item.story).count) rescue 'N/A'}</strong> stories and <strong>#{number_with_delimiter(Item.where(item_type_cd: Item.comment).count) rescue 'N/A'}</strong> comments indexed

:javascript
  $(document).ready(function() {
    window.hnsearch = new HNSearch('#{ENV['ALGOLIASEARCH_APPLICATION_ID']}', '#{ENV['ALGOLIASEARCH_API_KEY_RO']}', '#{Item.index_name}', '#{User.index_name}');
  });
= render partial: 'hit_template'