#search-panel
  %h1.text-center
    HN Search

  .search_box-wrapper
    .search_box
      %form#search-form{method: "get", action: '#', onsubmit: 'return false;'}
        #inputfield
          %input.autocomplete{autocomplete: 'off', name: 'address', placeholder: 'HN Stories, Comments, Source, Author ...', type: 'text', spellcheck: 'false'}
        .searchbutton
          %i.icon-search.icon-large
        #hits
  .text-center
    %small <strong>#{number_with_delimiter Item.where(item_type_cd: Item.story).count}</strong> stories and <strong>#{number_with_delimiter Item.where(item_type_cd: Item.comment).count}</strong> comments indexed

:javascript
  $(document).ready(function() {
    new HNSearch('#{ENV['ALGOLIASEARCH_APPLICATION_ID']}', '#{ENV['ALGOLIASEARCH_API_KEY_RO']}', '#{Item.index_name}');
  });
