%h1 About

%p HN Search provides real-time full-text search for the <a href="http://news.ycombinator.com">HackerNews</a> community site. Source code is available on <a href="https://github.com/algolia/hn-search">GitHub</a>. The search backend is implemented using <a href="http://www.algolia.com">Algolia</a> instant search engine.

%h3 How it works
%p Every 2 minutes, the last 1000 HN items (stories, comments, polls) are sent to Algolia's indexing API. Items from the last 48 hours are refreshed every hour.
%p Data is indexed on 3 different servers for high availability, hosted in Beauharnois, Canada.

%h3 Contributions
%p Source code is open-source and hosted on <a href="https://github.com/algolia/hn-search">github</a>.

%h3 Credits

%p Special thanks to the <a href="http://octopart.com/">Octopart</a> and <a href="https://news.ycombinator.com">YC</a> teams for providing us the data.

%ul
  %li= link_to "Hacker News", "https://news.ycombinator.com"
  %li= link_to "Algolia", "http://www.algolia.com"
  %li= link_to "Octopart", "http://octopart.com"
  %li= link_to "REST API", "http://www.algolia.com/doc/rest_api"
  %li= link_to "Rails client", "https://github.com/algolia/algoliasearch-rails"
