!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "HN Search powered by Algolia"
      %meta{:content => content_for?(:description) ? yield(:description) : "Hnsearch", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body{:class => "#{controller_name} #{action_name}"}
    %span#forkongithub.hidden-xs
      = link_to 'Fork me on GitHub', 'https://github.com/algolia/hn-search', target: '_blank'

    #main{:role => "main"}
      .container
        .content
          .row
            .span12
              = yield

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32446386-1']);
      _gaq.push(['_setDomainName', 'hn-search.herokuapp.com']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview', '/hn-search']);


      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

