!!!
%html{'ng-app' => 'HNSearch'}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui", :name => "viewport"}
    %title HN Search powered by Algolia
    %meta{:content => "Hacker News Search, millions articles and comments at your fingertips.", :name => "description"}
    %base{:href=> root_url}
    %link{:rel => "shortcut icon", :href=> asset_path('favicon.ico')}
    %link{:href => '/opensearch.xml', :rel => 'search', :title => 'HN Search', :type => 'application/opensearchdescription+xml'}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    / = csrf_meta_tags
    = auto_discovery_link_tag(:rss, {controller: "home", action: "front_page"}, { title: 'HN Front page'})
    = auto_discovery_link_tag(:atom, {controller: "home", action: "latest", format: 'atom'}, { title: 'Latest HN items'})
    = yield(:head)
  %body.main-fixed
    #main{role: 'main', 'ui-view' => true, 'ng-cloak' => true}
      = yield
