!!!
%html{'ng-app' => 'HNSearch'}
  %head{'ng-controller' => 'HeadCtrl'}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui", :name => "viewport"}
    %title= content_for(:title) ? yield(:title) : 'HN Search powered by Algolia'
    %meta{:content => "Hacker News Search, millions articles and comments at your fingertips.", :name => "description"}
    %base{:href=> root_url}
    %link{:rel => "shortcut icon", :href=> asset_path('favicon.ico')}
    %link{:href => '/opensearch.xml', :rel => 'search', :title => 'HN Search', :type => 'application/opensearchdescription+xml'}
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "themes/default", :media => "all", 'ng-if' => 'settings.style !== "experimental"'
    = stylesheet_link_tag "themes/experimental", :media => "all", 'ng-if' => 'settings.style === "experimental"'
    / = csrf_meta_tags
    = auto_discovery_link_tag(:rss, {controller: "home", action: "front_page"}, { title: 'HN Front page'})
    = auto_discovery_link_tag(:atom, {controller: "home", action: "latest", format: 'atom'}, { title: 'Latest HN items'})
    = yield(:head)

    :javascript
      (function(i, s, o, g, r, a, m) {
        i['AlgoliaAnalyticsObject'] = r;
        i[r] = i[r] || function() {
          (i[r].queue = i[r].queue || []).push(arguments)
        }
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
      })(window, document, 'script', 'https://cdn.jsdelivr.net/npm/alg-insights/dist/alg-insights.js', 'aa')
      aa('init', {
        apiKey: '3fc385cecae0693e0482dc9698d4d66896e7090a5bcdbe00ce63e89abbfc80ff',
        applicationID: 'UJ5WYC0L7X'
      })
  %body
    - if !(Item.connection rescue nil)
      .flash-alert.text-center
        Read-only mode:
        %em cannot connect to the MySQL database.
    #main{role: 'main', 'ui-view' => true, 'ng-cloak' => true}
      = yield
    = javascript_include_tag "application"
