!!!
%html{'ng-app' => 'HNSearch'}
  %head
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui", :name => "viewport"}
    - page_title = content_for?(:title) ? yield(:title) : "HN Search powered by Algolia"
    - page_description = content_for?(:description) ? yield(:description) : "Hacker News Search, millions articles and comments at your fingertips."
    %title= page_title
    %meta{:content => page_description, :name => "description"}
    %link{:rel => "shortcut icon", :href=> asset_path('favicon.ico')}
    %link{:href => '/opensearch.xml', :rel => 'search', :title => 'HN Search', :type => 'application/opensearchdescription+xml'}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = auto_discovery_link_tag(:rss, {controller: "home", action: "front_page"}, { title: 'HN Front page'})
    = auto_discovery_link_tag(:atom, {controller: "home", action: "latest", format: 'atom'}, { title: 'Latest HN items'})

    %meta{name: "twitter:card", content: "summary"}
    %meta{name: "twitter:site", content: "@algolia"}
    %meta{name: "twitter:title", content: page_title}
    %meta{name: "twitter:description", content: page_description}
    %meta{name: "twitter:image:src", content: asset_url('yc-logo.png')}
    %meta{name: "twitter:domain", content: request.host}

    %meta{property: "st:title", content: page_title }
    %meta{property: "og:url", content: request.url }
    %meta{property: "og:site_name", content: 'HN Search' }
    %meta{property: "og:title", content: page_title }
    %meta{property: "og:description", content: page_description, }
    %meta{property: "og:image", content: asset_url('yc-logo.png') }
    %meta{property: "og:image:width", content: '400' }
    %meta{property: "og:image:height", content: '400' }

    = yield(:head)
  %body{class: controller.action_name == 'legacy' || controller.action_name == 'follow' ? 'legacy' : cookies['style']}
    #main{role: 'main', 'ng-view' => true}
      .container
        .row
          = content_for?(:content) ? yield(:content) : yield

      %footer.text-center
        %ul.list-inline
          %li= link_to 'About', about_path
          %li= link_to 'Github', 'https://github.com/algolia/hn-search'
          %li= link_to 'Status', 'http://status.algolia.com/hn'
          %li= link_to 'Search', root_path
          /%li= link_to 'Stats', stats_path
          %li= link_to 'API', api_path
          %li= link_to 'Cool Apps', cool_apps_path
          %li
            = link_to image_tag("//d3ibatyzauff7b.cloudfront.net/assets/algolia128x40.png", style: 'height: 1em;', alt: 'Algolia'), "http://www.algolia.com/?utm_source=hn_search&utm_medium=link&utm_term=footer&utm_campaign=hn_algolia", onclick: "_gaq.push(['_link', 'http://www.algolia.com']); return false;", title: 'Hosted full-text, numerical, faceted search'

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-32446386-1']);
      _gaq.push(['_setDomainName', '#{request.host}']);
      _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview', '/hnsearch#{request.path if request.path != '/'}']);


      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

