!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0, minimal-ui", :name => "viewport"}
    %title= content_for(:title) ? yield(:title) : 'HN Search powered by Algolia'
    %meta{:content => "Hacker News Search, millions articles and comments at your fingertips.", :name => "description"}
    %base{:href=> root_url}
    %link{:rel => "shortcut icon", :href=> asset_path('favicon.ico')}
    %link{:href => '/opensearch.xml', :rel => 'search', :title => 'HN Search', :type => 'application/opensearchdescription+xml'}
    = csrf_meta_tags
    = auto_discovery_link_tag(:rss, {controller: "home", action: "front_page"}, { title: 'HN Front page'})
    = auto_discovery_link_tag(:atom, {controller: "home", action: "latest", format: 'atom'}, { title: 'Latest HN items'})
    = yield(:head)

  %body
    - if !(Item.connection rescue nil)
      .flash-alert.text-center
        Read-only mode:
        %em cannot connect to the MySQL database.

    %noscript This page will only work with JavaScript enabled
    %main{id: 'root'}

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'

    - if Rails.env.production?
      = render 'shared/sentry'
    = render 'shared/search-insights'

